The field secret in the class simpleRandomErasure shall not be printed to standard output. That is, the field secret is the confidential information of the program and the attacker is able to observe the standard output.
