The method f in the class Eg2 shall not leak any information from its parameter h to the return value of f. That is, the value h provided as input to the method f is confidential and the return value of f is assumed to be observable by the attacker. Moreover, it assumed that the input l of the method m is known to the attacker, i.e., provided by the attacker or visible to the attacker when provided as input to the method. 
