The input provided to the method listSizeLeak(int h) shall not be leaked by the return value of this method. That is, the input provided to the method listSizeLeak(int h) is the confidential information and the return value of this method is visible to the attacker.
