The program should leak no information about the password to the user.

The confidential information of the program is the secret password stored in the
instance of the PasswordManager. Information leaves the scope of the program
through the potential message written to standard output that no further logins
are allowed. Moreover, information leaves the scope of the program over the
fields invalidTries and loggedIn. The output written to standard output is
assummed to be visible to the attacker while the private fields invaliedTries
and loggedIn are assumed to be not visible to the attacker.
