The requirement is that the input provided to the method computeSecretely(int) is not leaked by the return value of the method. That is, the input to the method computeSecretly(int) is the confidential information and the return value of the method is visible to an attacker.
