The value of the field secret of the class simpleTypes should not leak to standard output. That is, the value of the field secret of the class simpleTypes is the confidential information of the program and the attacker is able to observe standard output.
